body {
  color: white;
}

body {
  background-repeat: no-repeat;
  background-size: auto;
  font-family: sans-serif;
}

@media screen and (max-width: 640px) {
  body {
    background-image: url("images/bg-tall.jpg");
  }
  .wybgen {
    font-size: 5vw;
  }
  fieldset {
    width: 45%;
    font-size: 3vw;
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-top: 7.5%;
  }
  label {
    margin-bottom: 2.5vh;
    font-size: 4vw;
  }
  input[type="radio"] {
    margin-top: 0.75vh;
    transform: scale(2);
  }
  .selectboost {
    font-size: 3vw;
    margin-top: 0.5vh;
  }
  .htu {
    font-size: 2.5vw;
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .wynikdiv {
    font-size: 4vw;
  }
  .credit {
    font-size: 2vw;
  }
  .jhufo {
    font-size: 2vw;
  }
}

@media screen and (min-width: 640px) {
  body {
    background-image: url("images/bg.jpg");
  }
  .wybgen {
    font-size: 3.5vh;
  }
  .selectboost {
    margin-top: 1vh;
    font-size: 2vh;
  }
  fieldset {
    width: 30%;
    font-size: 2.5vw;
    padding-left: 5%;
    padding-right: 5%;
  }
  input[type="radio"] {
    margin-top: 12.5%;
    transform: scale(3);
  }
  .htu {
    width: 30%;
  }
  .wynikdiv {
    font-size: 2vw;
  }
}

.header1 {
  color: white;
}

.htu {
  position: absolute;
  padding-bottom: 4vh;
  top: 85%;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 10px;
  height: auto;
}

.selectboost {
  border-radius: 1.5vh;
  height: 100%;
  width: auto;
  margin-left: 1vw;
}

input[type="radio"] {
  vertical-align: middle;
  float: right;
}

select {
  text-align: right;
}

fieldset {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.3);
}

.graczstyle {
  color: gray;
  font-weight: bold;
}
.vipstyle {
  color: rgb(60, 255, 60);
  font-weight: bold;
}

.svipstyle {
  color: #00ffff;
  font-weight: bold;
}

.mvipstyle {
  color: rgb(0, 186, 0);
  font-weight: bold;
}

.lovestyle {
  color: rgb(255, 14, 175);
  font-weight: bold;
}

.wynikdiv {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.credit {
  position: absolute;
  left: 1%;
  bottom: 0;
  color: white;
}

.jhufo {
  position: absolute;
  right: 1%;
  bottom: 0;
  color: white;
}

/* fieldset {
  display: inline-grid;
  line-height: 1.5;
  width: 15vw;
  border: none;
} */

/* 
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: "";
  text-align-last: right;
  padding-right: 0.75vh;
  direction: rtl;
}

.maindiv {
  width: 100%;
  height: 100%;
}

.boostdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.boosttypelabel {
  font-size: 2rem;
  color: #97efe9;
  font-weight: bold;
}

#boosttype {
  margin-left: 20px;
  height: 3vh;
  width: auto;
  background-color: #a6e800;
  border: #a6e800 solid 3px;
  border-radius: 10px;
  font-size: 1rem;
}

.rangadiv {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



.divwynik {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prewynik {
  font-size: 2rem;
  color: #97efe9;
}

#wynik {
  font-size: 2rem;
  color: #97efe9;
  margin-left: 1vw;
}

#wynikutw {
  font-size: 2rem;
  color: #97efe9;
  margin-top: -1vh;
  text-align: center;
}

footer {
  font-size: 1rem;
  color: red;
  float: left;
  position: absolute;
  top: 96%;
}

.htudiv {
  word-wrap: break-word;
  border: 1px white solid;
  position: absolute;
  width: 20rem;
  height: 20rem;
}

.jakuzyc {
  font-size: 1.5rem;
  color: #fcfcfc;
}

.credit {
  font-size: 1rem;
  color: red;
  float: right;
}

.creditdiv {
  position: fixed;
  bottom: 1.75vh;
  right: 1vw;
} */
