body {
  color: white;
}

body {
  background-repeat: no-repeat;
  font-family: sans-serif;
}

@media screen and (max-width: 640px) {
  body {
    background-image: url("images/bg-tall.jpg");
    background-size: auto;
  }
  .wybgen {
    font-size: 5vw;
  }
  .rankfieldset {
    width: 55%;
    font-size: 5vw;
    text-align: center;
    margin-bottom: 4%;
  }
  input[type="radio"] {
    display: none;
  }
  .selectboost {
    font-size: 3vw;
    margin-top: 0.5vh;
  }
  .htu {
    font-size: 72.5%;
    width: 50%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 85%;
    bottom: 5%;
  }
  .wynikdiv {
    font-size: 4vw;
  }
  .credit {
    font-size: 4vw;
  }
  .jhufo {
    font-size: 4vw;
    text-decoration: none;
    color: white;
  }
  .rankfieldset label:hover {
    transform: scale(1.1);
  }

  .rankfieldset input[type="radio"]:checked + label {
    transform: scale(1.1);
  }
  .surowcediv img {
    width: 35px;
    height: auto;
  }
  .testclass {
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media screen and (min-width: 640px) {
  body {
    background-image: url("images/bg.jpg");
    background-size: cover;
  }
  .wybgen {
    font-size: 3.5vh;
  }
  .selectboost {
    margin-top: 1vh;
    font-size: 2vh;
  }
  .rankfieldset {
    width: 30%;
    font-size: 2.5vw;
    text-align: center;
    margin-bottom: 2%;
  }
  input[type="radio"] {
    display: none;
  }
  .htu {
    width: 30%;
    font-size: auto;
    margin-left: auto;
    margin-right: auto;
    left: -68%;
    right: 0;
    top: 93%;
    bottom: 1%;
  }
  .wynikdiv {
    font-size: 2vw;
  }
  .credit {
    font-size: 1vw;
  }
  .rankfieldset label:hover {
    transform: scale(1.2);
  }
  .rankfieldset input[type="radio"]:checked + label {
    transform: scale(1.2);
  }
  .surowcediv img {
    width: 70px;
    height: auto;
  }
  .testclass {
    padding-top: 1%;
  }
}

.surowcediv [type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.surowcediv [type="radio"] + img {
  transition: transform 200ms ease-in-out;
  cursor: pointer;
}

.surowcediv [type="radio"]:checked + img {
  transform: scale(1.3);
}

input[name="typrangi"] {
  visibility: hidden;
}

.header1 {
  color: white;
}

.htu {
  position: absolute;
  display: inline-block;
  padding-bottom: 4vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 10px;
  height: auto;
  word-wrap: normal;
  vertical-align: middle;
}

.selectboost {
  border-radius: 1.5vh;
  height: 100%;
  width: auto;
  margin-left: 1vw;
}

input[type="radio"] {
  vertical-align: middle;
  float: right;
}

select {
  text-align: right;
}

.rankfieldset {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.3);
}

.rankfieldset label {
  transition: transform 200ms ease-in-out;
}

.rankfieldset input[type="radio"]:checked + label {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.graczstyle {
  color: gray;
  font-weight: bold;
}
.vipstyle {
  color: rgb(60, 255, 60);
  font-weight: bold;
}

.svipstyle {
  color: #00ffff;
  font-weight: bold;
}

.mvipstyle {
  color: rgb(0, 186, 0);
  font-weight: bold;
}

.lovestyle {
  color: rgb(208, 255, 0);
  font-weight: bold;
}

.wynikdiv {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.credit {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
}

.jhufo {
  position: absolute;
  right: 1%;
  top: 0;
  color: white;
}

#wynik,
#wynikutw {
  text-align: center;
}

/* .testclass {
  border: red 1px solid;
} */
